mixin input(classes, rightIcon)
  div(ref='root', :class=classes)
    label
      span.na-input__label(v-if='label', ref='labelRef')
        | {{ label }}

      block
      
      .na-input__internal-elements
        .na-input__left-side
          slot(name='left-side')
        .na-input__right-side
          if rightIcon
            i(class=rightIcon)
          else
           slot(name='right-side')