mixin input(classes, rightIcon)
  div(ref='root', :class=classes)
    label
      span.na-input__label(v-if='label', ref='labelRef')
        | {{ label }}

      block
      
      .na-input__internal-elements
        .na-input__left-side
          slot(name='left-side')
        .na-input__right-side
          if rightIcon
            i(class=rightIcon)
          else
           slot(name='right-side')
  
      .na-input__message.na-input__message--state-success(v-if='state === "success"')
        i.bx.bxs-check-circle
        slot(name='message-success')

      .na-input__message.na-input__message--state-warning(
        v-else-if='state === "warning"'
      )
        i.bx.bxs-info-circle
        slot(name='message-warning')

      .na-input__message.na-input__message--state-danger(v-else-if='state === "danger"')
        i.bx.bxs-x-circle
        slot(name='message-danger')

      .na-input__message(v-else)
        slot(name='message-default')
           