:root {
  /* main */
  --color-primary: #5C5CFD;
  --color-success: #4DC74B;
  --color-info   : #0AA5FF;
  --color-warning: #FF9A0C;
  --color-danger : #FF4248;
  --color-dark   : #2C2837;

  /* transparent */
  --color-primary-transparent: #5c5cfd4d;
  --color-success-transparent: #4DC74B4d;
  --color-info-transparent   : #0AA5FF4d;
  --color-warning-transparent: #FF9A0C4d;
  --color-danger-transparent : #FF42484d;
  --color-dark-transparent   : #2C28374d;

  /* primary */
  --color-primary-50 : #F0F0FF;
  --color-primary-100: #E1E1FF;
  --color-primary-200: #BDBDFE;
  --color-primary-300: #9F9FFE;
  --color-primary-400: #7C7CFD;
  --color-primary-500: #5C5CFD;
  --color-primary-600: #2B2BFC;
  --color-primary-700: #0303F2;
  --color-primary-800: #0202C5;
  --color-primary-900: #02029C;

  /* success */
  --color-success-50 : #ECF9EC;
  --color-success-100: #DCF4DC;
  --color-success-200: #B6E8B5;
  --color-success-300: #93DD92;
  --color-success-400: #71D26F;
  --color-success-500: #4DC74B;
  --color-success-500: #4DC74B;
  --color-success-600: #3AB338;
  --color-success-700: #30942E;
  --color-success-800: #277926;
  --color-success-900: #1F611E;

  /* info */
  --color-info-50 : #E5F6FF;
  --color-info-100: #CCECFF;
  --color-info-200: #9EDBFF;
  --color-info-300: #6BC9FF;
  --color-info-400: #3DB8FF;
  --color-info-500: #0AA5FF;
  --color-info-600: #0091E6;
  --color-info-700: #0078BD;
  --color-info-800: #006199;
  --color-info-900: #004E7A;

  /* warning */
  --color-warning-50 : #FFF4E5;
  --color-warning-100: #FFEACC;
  --color-warning-200: #FFD79E;
  --color-warning-300: #FFC16B;
  --color-warning-400: #FFAE3D;
  --color-warning-500: #FF9A0C;
  --color-warning-600: #E68600;
  --color-warning-700: #BD6E00;
  --color-warning-800: #995900;
  --color-warning-900: #7A4700;

  /* danger */
  --color-danger-50 : #FFEBEB;
  --color-danger-100: #FFDBDC;
  --color-danger-200: #FFB3B5;
  --color-danger-300: #FF8F93;
  --color-danger-400: #FF666B;
  --color-danger-500: #FF4248;
  --color-danger-600: #FF141C;
  --color-danger-700: #E60008;
  --color-danger-800: #B80006;
  --color-danger-900: #940005;

  /* dark */
  --color-dark-50 : #E9E7EE;
  --color-dark-100: #D3D0DD;
  --color-dark-200: #A59EB8;
  --color-dark-300: #796E96;
  --color-dark-400: #534B67;
  --color-dark-500: #2C2837;
  --color-dark-600: #26222F;
  --color-dark-700: #1F1C26;
  --color-dark-800: #1A1820;
  --color-dark-900: #15131B;

  --color-text-primary: #201F22;
  --color-text-regular: #3C3942;
  --color-text-secondary: #9D9CA3;
}