:root {
  /* main */
  --primary: #5C5CFD;
  --success: #4DC74B;
  --info   : #0AA5FF;
  --warning: #FF9A0C;
  --danger : #FF4248;
  --dark   : #2C2837;

  --white: #fff;
  --black: #000;

  /* transparent */
  --primary-transparent      : #5c5cfd4d;
  --primary-transparent-light: #5d5dfd1a;
  --success-transparent      : #4DC74B4d;
  --info-transparent         : #0AA5FF4d;
  --warning-transparent      : #FF9A0C4d;
  --danger-transparent       : #FF42484d;
  --dark-transparent         : #2C28374d;

  /* primary */
  --primary-50 : #F0F0FF;
  --primary-100: #E1E1FF;
  --primary-200: #BDBDFE;
  --primary-300: #9F9FFE;
  --primary-400: #7C7CFD;
  --primary-500: #5C5CFD;
  --primary-600: #2B2BFC;
  --primary-700: #0303F2;
  --primary-800: #0202C5;
  --primary-900: #02029C;

  /* success */
  --success-50 : #ECF9EC;
  --success-100: #DCF4DC;
  --success-200: #B6E8B5;
  --success-300: #93DD92;
  --success-400: #71D26F;
  --success-500: #4DC74B;
  --success-600: #3AB338;
  --success-700: #30942E;
  --success-800: #277926;
  --success-900: #1F611E;

  /* info */
  --info-50 : #E5F6FF;
  --info-100: #CCECFF;
  --info-200: #9EDBFF;
  --info-300: #6BC9FF;
  --info-400: #3DB8FF;
  --info-500: #0AA5FF;
  --info-600: #0091E6;
  --info-700: #0078BD;
  --info-800: #006199;
  --info-900: #004E7A;

  /* warning */
  --warning-50 : #FFF4E5;
  --warning-100: #FFEACC;
  --warning-200: #FFD79E;
  --warning-300: #FFC16B;
  --warning-400: #FFAE3D;
  --warning-500: #FF9A0C;
  --warning-600: #E68600;
  --warning-700: #BD6E00;
  --warning-800: #995900;
  --warning-900: #7A4700;

  /* danger */
  --danger-50 : #FFEBEB;
  --danger-100: #FFDBDC;
  --danger-200: #FFB3B5;
  --danger-300: #FF8F93;
  --danger-400: #FF666B;
  --danger-500: #FF4248;
  --danger-600: #FF141C;
  --danger-700: #E60008;
  --danger-800: #B80006;
  --danger-900: #940005;

  /* dark */
  --dark-50 : #E9E7EE;
  --dark-100: #D3D0DD;
  --dark-200: #A59EB8;
  --dark-300: #796E96;
  --dark-400: #534B67;
  --dark-500: #2C2837;
  --dark-600: #26222F;
  --dark-700: #1F1C26;
  --dark-800: #1A1820;
  --dark-900: #15131B;

  --text-primary  : #26222F;
  --text-regular  : #2C2837;
  --text-secondary: #796E96;
}