@import "../../na-badge/styles/mixins";

@mixin button-color($color) {
  &_color_#{$color} {
    &.na-button_style_solid {
      background: var(--color-#{$color});

      &:hover:not(.na-button_active, [disabled]),
      &:focus:not(.na-button_active, [disabled]) {
        background: var(--color-#{$color}-400);

        .na-badge_color {
          @include badge-color($color, 400);
        }
      }
    }

    &.na-button_style_border {
      background: none;
      color: var(--color-#{$color});
      border: 1px solid var(--color-#{$color});

      &:hover:not(.na-button_active, [disabled]) {
        color: var(--color-#{$color}-300);
        border-color: var(--color-#{$color}-300);

        .na-badge_color {
          @include badge-color($color, 300);
        }
      }

      &:focus:not(.na-button_active, [disabled]),
      &:active:not(.na-button_active, [disabled]) {
        color: var(--color-#{$color});
        border-color: var(--color-#{$color});

        .na-badge_color {
          @include badge-color($color, 500);
        }
      }
    }

    &.na-button_style_transparent {
      background: none;
      color: var(--color-#{$color});

      &:hover:not(.na-button_active, [disabled]),
      &:focus:not(.na-button_active, [disabled]) {
        background: var(--color-#{$color}-transparent);
        box-shadow: none;
      }

      &:active:not(.na-button_active, [disabled]) {
        color: white;
        background: var(--color-#{$color});
      }
    }

    &.na-button_light-text:not(.na-button_style_solid) :not(i, .na-badge__text) {
      color: white;
    }

    &.na-button_active {
      color: white;
      background: var(--color-#{$color}-400);
      border-color: var(--color-#{$color}-400);

      &:hover,
      &:focus,
      &:active {
        color: white;
        background: var(--color-#{$color}-400);
      }

      .na-badge_color {
        @include badge-color($color, 400);
      }
    }

    &[disabled] {
      opacity: 0.2;
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--color-#{$color}-transparent);
    }

    i {
      font-size: var(--icon-size);
    }
  }
}

@mixin align-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}