.na-button {
  $small: (
    height: 28px,
    padding: 12px,
    font-size: 13px,
    font-equal: 14px,
    icon-size: 16px,
  );

  $default: (
    height: 33px,
    padding: 13px,
    font-size: 14px,
    font-equal: 17px,
    icon-size: 17px,
  );

  $large: (
    height: 42px,
    padding: 21px,
    font-size: 16px,
    font-equal: 20px,
    icon-size: 24px,
  );

  $xl: (
    height: 47px,
    padding: 21px,
    font-size: 16px,
    font-equal: 20px,
    icon-size: 24px,
  );

  $sizes: (
    small: $small,
    default: $default,
    large: $large,
    xl: $xl,
  );

  --font-family: Nunito Sans, sans-serif;
  --font-style: normal;
  --font-line-height: 100%;
  --width: auto;
  --space: 8px;
  --font-weight: 600;

  --letter-spacing: 0.02em;
  --transition: 0.1s;

  &--equal {
    --padding: 0;
  }

  @each $size, $values in $sizes {
    &--size-#{$size} {
      $height: map-get($values, height);
      $shapes-border-radius: (
        rounded: $height / 3,
        rect: 3px,
        circle: $height / 2,
      );

      --height: #{$height};
      --padding: 0 #{map-get($values, padding)};
      --font-size: #{map-get($values, font-size)};
      --icon-size: #{map-get($values, icon-size)};

      &.na-button--style-border {
        --padding: 0 #{map-get($values, padding) - 1px};
      }

      &.na-button--equal {
        --width: var(--height);
        --font-size: #{map-get($values, font-equal)};
        --padding: 0;
      }

      @each $shape, $border-radius in $shapes-border-radius {
        &.na-button--shape-#{$shape} {
          --border-radius: #{$border-radius};
        }
      }
    }
  }
}
