@import 'mixins';
@import 'vars';

.na-button {
  @include align-center;

  text-rendering: optimizeSpeed;

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--font-line-height);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: var(--height);
  width: var(--width);
  min-width: var(--height);
  cursor: pointer;
  border: none;

  transition: var(--transition);

  &--block {
    width: 100%;
  }

  // space between elements
  > * {
    margin-right: var(--space);

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &--style-solid {
    color: var(--white);
    background: var(--primary-400);

    &:hover:not(.na-button--active, [disabled]) {
      background: var(--primary-300);
    }
  }

  &--style-border {
    color: var(--primary-400);
    background: none;
    border: var(--border-size) solid var(--primary-400);

    &:hover:not(.na-button--active, [disabled]) {
      color: var(--primary-200);
      border-color: var(--primary-200);
    }
  }

  &--style-transparent {
    color: var(--text-primary);
    background: none;
    clip-path: inset(11% round var(--border-radius));
    transition: 0.1s ease-in-out;

    > i {
      color: var(--primary-400);
    }

    &:hover:not(.na-button--active, [disabled]) {
      background: var(--primary-transparent-100);
      box-shadow: none;
      clip-path: inset(0px round var(--border-radius));
    }

    &:focus:not(.na-button--active, [disabled]) {
      color: var(--primary-600);
      background: var(--primary-transparent-200);
      box-shadow: none;
      clip-path: inset(0px round var(--border-radius));
    }
  }

  &--active,
  &:active:not([disabled]) {
    &.na-button--style-transparent {
      clip-path: inset(0);
    }

    color: var(--white);
    background: var(--primary-600);
    border-color: var(--primary-600);
    > i {
      color: var(--white);
    }
  }

  &[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--primary-transparent-200);
  }

  i {
    font-size: var(--icon-size);
  }
}
