@mixin option-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin clear-input-styles {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: none;
}
