.na-select {
  --height: 33px;
  --padding: 13px;
  --padding-right: 10px;
  --font-size: 14px;
  --label-margin-bottom: 7px;
  --label-font-size: 13px;

  display: flex;
  flex-direction: column;
  min-width: 45px;
  width: 45px;

  position: relative;

  font: {
    family: inherit;
    style: normal;
    weight: 500;
    size: var(--font-size);
  }

  select {
    cursor: pointer;
  }

  // placeholder for native select
  &::before {
    position: relative;
    width: max-content;
    color: var(--color-text-secondary);
    content: var(--placeholder);
    line-height: 0;

    padding-left: calc(var(--padding) + 1px);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);

    top: calc(
      (2 * var(--font-size) + (var(--height) - var(--font-size)) / 2 - 1px)
    );

    pointer-events: none;
  }

  & > i {
    --font-size: 20px;
    color: var(--color-text-secondary);
    font-size: var(--font-size);
    position: absolute;
    right: calc(var(--padding) + 1px);
    top: calc(var(--font-size) + (var(--height) - var(--font-size)) / 2);
    pointer-events: none;
    transition: 0.1s;
  }

  &_focused {
    & > i {
      color: var(--color-primary);
      transform: rotate(180deg);
    }

    & .na-select__label {
      color: var(--color-primary);
    }

    & .na-select__input {
      box-shadow: 0 0 0 5px var(--color-primary-transparent);
      border-color: var(--color-primary);
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: var(--height);
    border-radius: calc(var(--height) / 3);
    background: none;
    appearance: none;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--color-text-secondary);
    }

    &__placeholder {
      display: none;
      color: var(--color-text-secondary);
    }

    font: {
      family: inherit;
      style: normal;
      weight: 500;
      size: var(--font-size);
    }

    line-height: 100%;
    padding-left: var(--padding);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);
    border: 1px solid var(--color-dark-100);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--color-primary-transparent);
      border-color: var(--color-primary);
      transition: 0.1s;
    }
  }

  &__label {
    color: var(--color-text-regular);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    line-height: 13px;

    + .na-select__input {
      margin-top: var(--label-margin-bottom);
    }

    font: {
      weight: 500;
      size: var(--label-font-size);
    }

    transition: 0.1s;

    &_placeholder {
      position: relative;
      pointer-events: none;
      font-size: 14px;
      line-height: 13px;
      color: var(--color-text-secondary);

      padding-left: calc(var(--padding) + 1px);
      padding-right: calc(var(--padding) + 1px + 20px + 8px);

      top: calc(
        var(--label-margin-bottom) + var(--font-size) +
          (var(--height) - var(--font-size)) / 2
      );
    }
  }

  &__list {
    --block-drop-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --padding: 10px;
    --option-height: 33px;
    --margin-bottom: 3px;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 8px;
      background-color: var(--color-primary-transparent);
    }

    &::-webkit-scrollbar-button {
      height: 5px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    list-style: none;
    padding: var(--padding);

    padding-right: var(--padding-right);
    border-radius: 12px;
    background: white;
    box-shadow: var(--block-drop-shadow);
    transition: 0.1s;
    position: absolute;
    opacity: 0;
    min-width: max-content;
    overflow-y: auto;
    max-height: calc(
      (var(--option-height) + var(--margin-bottom)) * var(--max-size) -
        var(--margin-bottom) + 2 * var(--padding)
    );

    box-sizing: border-box;
    top: 100%;
    z-index: 100;

    &_opened {
      top: calc(100% + 10px);
      opacity: 1;
    }

    .na-option {
      font-size: var(--font-size);
      font-weight: 500;
      color: var(--color-text-regular);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 13px;
      min-height: var(--option-height);
      border-radius: 11px;
      width: 100%;
      margin-bottom: var(--margin-bottom);
      justify-content: space-between;
      background: none;
      border: none;
      cursor: pointer;
      transition: padding-left 0.1s, color 0.1s;
      background: transparent;
      box-sizing: border-box;

      & > * {
        margin-left: 4px;
        margin-right: 4px;

        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }

      &__left-side {
        display: flex;
        flex-direction: row;
        align-items: center;

        & > * {
          margin-left: 4px;
          margin-right: 4px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      &__right-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 13px;
        width: fit-content;
        margin: auto;
      }

      & i {
        font-size: 20px;
      }

      &:hover {
        padding-left: 23px;
        color: var(--color-primary);
      }

      &:focus {
        outline: none;
        padding-left: 22px;
        box-shadow: inset -4px 0px 0px var(--color-primary);
        border: 1px solid var(--color-primary);
        color: var(--color-primary);

        > * {
          margin-top: -1px;
          margin-bottom: -1px;
        }

        &:hover {
          padding-left: 22px;
          transition: 0s;
        }

        & .na-option__right-side {
          padding-right: 12px;
        }
      }

      &_active {
        padding-left: 23px;
        box-shadow: inset -5px 0px 0px var(--color-primary);
        color: var(--color-primary);
        background: var(--color-primary-transparent-light);
        transition: 0s;

        &:hover {
          padding-left: 23px;
        }

        &.na-option_focused {
          padding-left: 22px;
          box-shadow: inset -4px 0px 0px var(--color-primary);
        }
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
