.na-select {
  --height: 33px;
  --padding: 13px;
  --padding-right: 10px;
  --font-size: 14px;
  --label-margin-bottom: 7px;
  --label-font-size: 13px;
  --message-height: 0px;

  display: flex;
  flex-direction: column;
  margin: 15px 10px 10px;

  position: relative;

  font: {
    family: inherit;
    style: normal;
    weight: 500;
    size: var(--font-size);
  }

  &_native.na-select_filter {
    .na-select__input {
      padding-right: 13px;
      &__chevron {
        display: none;
      }
    }
  }

  select,
  input[readonly] {
    cursor: pointer;
  }

  // placeholder for native select
  &::before {
    position: relative;
    width: max-content;
    color: var(--color-text-secondary);
    content: var(--placeholder);
    line-height: 0;

    padding-left: calc(var(--padding) + 1px);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);

    top: calc(
      (2 * var(--font-size) + (var(--height) - var(--font-size)) / 2 - 1px)
    );

    pointer-events: none;
  }

  &__input__chevron {
    height: 0;
    --font-size: 20px;
    color: var(--color-text-secondary);
    font-size: var(--font-size);
    position: relative;
    pointer-events: none;
    text-align: right;

    top: calc((var(--height) - var(--font-size)) / 2);
    left: -13px;
  }

  &_focused {
    .na-select__message {
      opacity: 0;
    }
    & .na-select__label {
      color: var(--color-primary);
    }

    & .na-select__input {
      box-shadow: 0 0 0 5px var(--color-primary-transparent);
      border-color: var(--color-primary);

      &__chevron {
        color: var(--color-primary);
      }
    }
  }

  &__input {
    box-sizing: border-box;
    height: var(--height);
    border-radius: calc(var(--height) / 3);
    background: none;
    appearance: none;
    -webkit-appearance: none;

    line-height: 100%;
    padding-left: var(--padding);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);
    border: 1px solid var(--color-dark-100);

    transition: 0.1s;

    &::placeholder {
      color: var(--color-text-secondary);
    }

    &__placeholder {
      display: none;
      color: var(--color-text-secondary);
    }

    font: {
      family: inherit;
      style: normal;
      weight: 500;
      size: var(--font-size);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--color-primary-transparent);
      border-color: var(--color-primary);
    }
  }

  &__label {
    color: var(--color-text-regular);
    position: relative;
    top: 0;
    left: 0;
    line-height: 13px;
    margin-bottom: var(--label-margin-bottom);

    transition: 0.1s;

    font: {
      weight: 500;
      size: var(--label-font-size);
    }

    &_placeholder {
      position: relative;
      pointer-events: none;
      font-size: 14px;
      line-height: 13px;
      color: var(--color-text-secondary);

      padding-left: calc(var(--padding) + 1px);
      padding-right: calc(var(--padding) + 1px + 20px + 8px);

      top: calc(
        var(--label-margin-bottom) + var(--font-size) +
          (var(--height) - var(--font-size)) / 2
      );
    }
  }

  &__list {
    --block-drop-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --padding: 10px;
    --option-height: 33px;
    --margin-bottom: 3px;

    position: absolute;
    min-width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
    top: calc(100% - var(--message-height) + 5px);
    z-index: 100;
    overflow-y: auto;

    padding: 0;
    padding-bottom: 0;
    // min-height: calc(var(--option-height) + var(--padding) * 2);

    border-radius: 12px;
    background: white;
    box-shadow: var(--block-drop-shadow);
    max-height: calc(
      (var(--option-height) + var(--margin-bottom)) * var(--max-size) -
        var(--margin-bottom) + 2 * var(--padding)
    );

    &__container {
      padding: 10px 10px 7px;
    }

    .na-option {
      margin: 0;
      margin-bottom: var(--margin-bottom);
      padding: 0 18px 0 13px;

      min-width: 100%;
      max-width: 100%;
      min-height: var(--option-height);

      font-size: var(--font-size);
      font-weight: 500;

      color: var(--color-text-regular);
      background: none;

      border: none;
      border-radius: 11px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      transition: background 0.1s, box-shadow 0.1s;

      cursor: pointer;

      i {
        font-size: 20px;
      }

      &__left-side {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: max-content;

        position: relative;
        left: 0;

        transition: 0.1s;

        // space
        & > * {
          margin-left: 4px;
          margin-right: 4px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      &__right-side {
        display: flex;
        flex-direction: row;
        align-items: right;
        padding-left: 30px;
        transition: 0.1s;

        position: relative;

        // space
        & > * {
          margin-left: 4px;
          margin-right: 4px;

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-last-child(1) {
            margin-right: 0;
          }
        }
      }

      &:not(&_disabled):hover {
        color: var(--color-primary);

        .na-option__left-side {
          left: 10px;
        }
      }

      &:not(&_disabled):focus {
        outline: none;
        box-shadow: inset -4px 0px 0px var(--color-primary);
        border: 1px solid var(--color-primary);
        color: var(--color-primary);

        padding: 0 17px 0 12px;

        .na-option__left-side {
          left: 10px;
        }
      }

      &_active:not(&_disabled) {
        box-shadow: inset -5px 0px 0px var(--color-primary);
        color: var(--color-primary);
        background: var(--color-primary-transparent-light);

        .na-option__left-side {
          left: 10px;
        }
      }

      &_disabled {
        opacity: 0.2;
        cursor: not-allowed;
      }
    }
  }

  &__message {
    color: var(--color-text-secondary);
    font-size: 13px;
    line-height: 18px;
    margin-top: 7px;
    opacity: 1;
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    align-content: center;

    > i {
      font-size: 18px;
      margin-right: 5px;
    }
  }

  &:not(.na-select_focused).na-select_state {
    &_success .na-select {
      &__input {
        border-color: var(--color-success);
      }
      &__message {
        color: var(--color-success);
      }
    }
    &_warning .na-select {
      &__input {
        border-color: var(--color-warning);
      }
      &__message {
        color: var(--color-warning);
      }
    }
    &_danger .na-select {
      &__input {
        border-color: var(--color-danger);
      }
      &__message {
        color: var(--color-danger);
      }
    }
  }
}
