.na-select {
  --height: 33px;
  --padding: 13px;
  --font-size: 14px;
  --label-margin-bottom: 7px;
  --label-font-size: 13px;

  display: flex;
  flex-direction: column;
  width: max-content;

  position: relative;

  font: {
    family: inherit;
    style: normal;
    weight: 500;
    size: var(--font-size);
  }

  select {
    cursor: pointer;
  }

  // placeholder for native select
  &::before {
    position: relative;
    width: max-content;
    color: var(--color-text-secondary);
    content: var(--placeholder);
    line-height: 0;

    padding-left: calc(var(--padding) + 1px);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);

    top: calc(
      (2 * var(--font-size) + (var(--height) - var(--font-size)) / 2 - 1px)
    );

    pointer-events: none;
  }

  & > i {
    --font-size: 20px;
    color: var(--color-text-secondary);
    font-size: var(--font-size);
    position: absolute;
    right: calc(var(--padding) + 1px);
    top: calc(var(--font-size) + (var(--height) - var(--font-size)) / 2);
    pointer-events: none;
    transition: 0.1s;
  }

  &_focused {
    & > i {
      color: var(--color-primary);
      transform: rotate(180deg);
    }

    & .na-select__label {
      color: var(--color-primary);
    }
  }

  &__input {
    box-sizing: border-box;
    min-width: 10px;
    height: var(--height);
    border-radius: calc(var(--height) / 3);
    background: none;
    appearance: none;
    -webkit-appearance: none;

    &::placeholder {
      color: var(--color-text-secondary);
    }

    &__placeholder {
      display: none;
      color: var(--color-text-secondary);
    }

    font: {
      family: inherit;
      style: normal;
      weight: 500;
      size: var(--font-size);
    }

    line-height: 100%;
    padding-left: var(--padding);
    padding-right: calc(var(--padding) + 1px + 20px + 8px);
    border: 1px solid var(--color-dark-100);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--color-primary-transparent);
      border-color: var(--color-primary);
      transition: 0.1s;
    }
  }

  &__label {
    color: var(--color-text-regular);
    width: max-content;
    position: relative;
    top: 0;
    left: 0;
    line-height: 13px;

    + .na-select__input {
      margin-top: var(--label-margin-bottom);
    }

    font: {
      weight: 500;
      size: var(--label-font-size);
    }

    transition: 0.1s;

    &_placeholder {
      position: relative;
      pointer-events: none;
      font-size: 14px;
      line-height: 13px;
      color: var(--color-text-secondary);

      padding-left: calc(var(--padding) + 1px);
      padding-right: calc(var(--padding) + 1px + 20px + 8px);

      top: calc(
        var(--label-margin-bottom) + var(--font-size) +
          (var(--height) - var(--font-size)) / 2
      );
    }
  }

  &__list {
    --block-drop-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 12px;
    background: white;
    box-shadow: var(--block-drop-shadow);
    transition: 0.1s;
    position: relative;
    top: 10px;
    display: none;

    .na-option {
      font-size: var(--font-size);
      font-weight: 500;
      color: var(--color-text-regular);
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 13px;
      height: 33px;
      border-radius: 11px;
    }
  }
}
