@import 'mixins';

.na-option-group {
  &__label {
    min-height: var(--option-height);
    margin-bottom: var(--margin-bottom);

    color: var(--text-primary);

    font: {
      family: var(--font-family);
      size: var(--font-size);
      weight: var(--font-weight);
    }

    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    @include row-align;
    align-items: flex-end;

    padding: var(--padding);
  }

  .na-option {
    padding-left: calc(var(--padding-left) * 2);

    &:not(&--disabled):focus {
      padding-left: calc(var(--padding-left) * 2 - 1px);
    }
  }

  &--disabled .na-option-group__label {
    @include disabled;
  }
}
