@import 'mixins';
$states: success, warning, danger;

.na-select {
  position: relative;

  margin: var(--margin);

  font-size: var(--font-size);

  select,
  input[readonly] {
    cursor: pointer;
  }

  &__list {
    position: absolute;
    min-width: 100%;
    width: max-content;
    min-height: calc(var(--option-height) + var(--padding) * 2);
    max-height: calc(
      (var(--option-height) + var(--margin-bottom)) * var(--max-size) -
        var(--margin-bottom) + 2 * var(--padding)
    );

    will-change: opacity;

    z-index: 100;
    overflow-y: auto;

    border-radius: var(--border-radius);
    background: var(--white);
    box-shadow: var(--block-drop-shadow);
  }

  &__container {
    padding: var(--padding);
  }

  &__no-data {
    position: relative;

    @include row-align;

    justify-content: center;

    color: var(--text-secondary);
    margin-bottom: var(--margin-bottom);
    min-height: var(--option-height);

    @include space-between-elements;

    i {
      font-size: 20px;
    }
  }

  &__message {
    color: var(--text-secondary);
    line-height: var(--icon-size);
    margin-top: var(--space-between-elements);
    transition: var(--transition);
    font-weight: var(--font-weight);
    font-size: var(--font-size);

    opacity: 1;

    display: flex;
    align-content: center;

    > i {
      font-size: var(--icon-size);
      margin-right: 5px;
    }
  }

  &--focused {
    &.na-select {
      & .na-select__label {
        color: var(--primary-400);
      }

      & .na-select__input {
        outline: none;
        border-color: var(--primary-400);
      }

      & .na-select__chevron {
        color: var(--primary-400);
      }
    }
  }

  &--native.na-select--filter {
    .na-select__input {
      padding-right: var(--padding);
    }
    .na-select__chevron {
      display: none;
    }
  }
}
