@import 'mixins';
$states: success, warning, danger;

.na-input {
  position: relative;
  margin: var(--margin);
  font-size: var(--font-size);

  &__label {
    display: inline-block;
    color: var(--text-primary);
    margin-bottom: var(--space-between-elements);
    letter-spacing: var(--letter-spacing);

    font: {
      family: var(--font-family);
      weight: var(--font-weight);
      size: var(--font-size);
    }

    line-height: var(--line-height);

    transition: var(--transition);
  }

  &__input {
    @include clear-input-styles;
    box-sizing: border-box;

    width: 100%;
    height: var(--height);
    line-height: var(--line-height);

    padding-left: calc(var(--padding) + var(--left-side-padding));

    padding-right: calc(var(--padding) + var(--right-side-padding));

    border-radius: var(--border-radius);
    border: var(--border);

    transition: all var(--transition), padding-left 0s;

    &::placeholder {
      color: var(--text-secondary);
    }
  }

  &__internal-elements {
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: calc(-1 * var(--height) / 2);
    padding: 0 13px;
  }

  &__left-side > i,
  &__right-side > i {
    font-size: var(--icon-size);
    color: var(--text-secondary);
  }

  &__message {
    color: var(--text-secondary);
    line-height: var(--icon-size);
    margin-top: var(--space-between-elements);
    transition: var(--transition);
    font-weight: var(--font-weight);
    font-size: var(--font-size);

    opacity: 1;

    display: flex;
    align-content: center;

    > i {
      font-size: var(--icon-size);
      margin-right: 5px;
    }
  }

  &--focused &__input {
    border-color: var(--primary-400);
  }

  &--focused &__label,
  &--focused &__right-side > i {
    color: var(--primary-400);
  }

  @each $state in $states {
    &--state-#{$state}:not(&--focused) & {
      &__input {
        border-color: var(--#{$state}-500);
      }

      &__message {
        color: var(--text-primary);

        i {
          color: var(--#{$state}-500);
        }
      }

      &__right-side > i {
        color: var(--#{$state}-500);
      }
    }
  }
}
