.na-badge {
  --font-family: var(--main-font-family);
  --font-style: normal;
  --font-weight: 500;
  --font-size: 14px;
  --font-line-height: 100%;
}

.na-button {
  --font-family: var(--main-font-family);
  --font-style: normal;
  --font-weight: 500;
  --font-size: 14px;
  --font-size-equal: 20px;
  --font-line-height: 100%;
}