@import "./mixins/color-mixins";
@import "./mixins/align-mixins";

@import "./variables";

$colors: primary, success, info, warning, danger, dark;

.na-button {
  @include align-center;

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--font-line-height);
  border-radius: var(--border-radius);
  padding: var(--padding);
  height: var(--height);
  width: var(--width);
  cursor: pointer;
  border: none;
  color: white;
  transition: 0.1s;

  &_block {
    width: 100%;
  }

  // space between elements
  &>* {
    margin-left: calc(var(--space) / 2);
    margin-right: calc(var(--space) / 2);

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  @each $color in $colors {
    @include button-color($color);
  }
}