@import "./mixins/color-mixins";
@import "./mixins/align-mixins";
@import "./mixins/prefix-mixins";

@import "./variables";

.na-button {
  @include align-center;

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--font-line-height);

  @include border-radius(var(--border-radius));

  padding: var(--padding);
  height: var(--height);
  width: var(--width);
  cursor: pointer;
  border: none;
  color: white;
  transition: 0.1s;

  .na-badge {
    --height: var(--height);
    --font-size: var(--font-size);
  }

  // margins between elements
  &>* {
    margin-left: 4px;
    margin-right: 4px;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &_color {
    @include button-color("primary");
    @include button-color("success");
    @include button-color("info");
    @include button-color("warning");
    @include button-color("danger");
    @include button-color("dark");
  }
}