@import "./mixins/color-mixins";
@import "./mixins/align-mixins";
@import "./variables";

$colors: primary, success, info, warning, danger, dark;

.na-badge {
  @include align-center;

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--font-line-height);

  height: 20px;
  color: white;
  border-radius: 10px;
  min-width: 20px;
  max-width: max-content;

  &__text {
    margin: 0 6px;
  }

  &_dot {
    padding: 0;
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
  }

  &_color {
    @each $color in $colors {
      @include badge-color($color, 500);
    }
  }
}