$colors: primary, success, info, warning, danger, dark;

@mixin color-style($color) {
  &_#{$color} {
    background: var(--color-#{$color});
  }
}

.na-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  color: white;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  min-width: 20px;
  max-width: max-content;

  &__text {
    text-align: center;
    margin: 0 6px;
  }

  &_dot {
    padding: 0;
    height: 10px;
    min-width: 10px;
    border-radius: 50%;
  }

  &_color {
    @each $color in $colors {
      @include color-style($color);
    }
  }
}