@import "./mixins";
@import "./variables";

$colors: primary, success, info, warning, danger, dark;

.na-badge {
  @include align-center;

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--font-line-height);

  height: var(--height);
  min-width: var(--height);
  color: white;
  border-radius: calc(var(--height) / 2);
  max-width: max-content;
  transition: 0.1s;

  &__text {
    margin: 0 var(--side-space);
  }

  &_dot {
    padding: 0;
    height: var(--dot-size);
    min-width: var(--dot-size);
    border-radius: 50%;
  }

  @each $color in $colors {
    @include badge-color($color, 500);
  }
}