@import 'mixins';

.na-badge {
  @include badge-align;

  color: var(--white);
  background: var(--primary-500);

  font: {
    family: var(--font-family);
    style: var(--font-style);
    weight: var(--font-weight);
    size: var(--font-size);
  }

  line-height: var(--line-height);

  font-stretch: extra-expanded;

  height: var(--height);
  min-width: var(--height);
  max-width: max-content;

  transition: var(--transition);
  border-radius: calc(var(--height) / 2);

  padding: 0 var(--side-space);

  &--dot {
    padding: 0;
    height: var(--dot-size);
    min-width: var(--dot-size);
    border-radius: 50%;
  }

  &--inverse {
    color: var(--primary-500);
    background: var(--white);
  }
}
